{% extends 'base.html' %}

{% block title %}
  About
{% endblock %}

{% block body %}
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Danilevsky Alexander</h5>
    <p class="card-text">
      <pre>
        Data analyst
        JSC BIOCAD
        St. Petersburg, Russia
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Biocad_Logo.svg/400px-Biocad_Logo.svg.png?20210327102534" width="100" height="20">
      </pre>
    <a href="https://telegram.me/a_danilevsky" class="btn btn-primary"><img src="https://pngicon.ru/file/uploads/telegram-64x64.png" alt="telegtam" width="20" height="20"> @a_danilevsky</a>
  </div>
</div>
{% endblock %}