{% extends 'base.html' %}

{% block title %}
Post list page
{% endblock %}

{% block body %}
  <div class="h1 mb-2">Posts:</div>
  {% if object_list %}

      <div class="list-group">
        {% for post in object_list %}
        <div class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{post.title}}</h5>
          <small><a href="{% url 'user' pk=post.author.pk%}">{{post.author.name}}</a></small>
        </div>
        <p class="mb-1">{{post.body}}</p>
          </div>
        {% endfor %}
      </div>



  {% else %}
    <h2> No posts yet</h2>
  {% endif %}
{% endblock %}



    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Some placeholder content in a paragraph.</p>
    <small>And some small print.</small>