{% extends 'base.html' %}

{% block title %}
  Client #{{ user_id }}
{% endblock %}

{% block body %}
  <div class="card" style="width: 32rem;">
    <div class="card-body">
      <div class="h5 card-title">User <code>#{{ user.id }}</code> details</div>
      <p class="card-text">

      <table class="table">
        <tbody>
          <tr>
            <th scope="row"><span class="badge bg-secondary">Name</span></th>
            <td>{{user.name}}</td>
          </tr>
          <tr>
            <th scope="row"><span class="badge bg-secondary">Username</span></th>
            <td>{{user.username}}</td>
          </tr>
          <tr>
            <th scope="row"><span class="badge bg-secondary">Email</span></th>
            <td>{{user.email}}</td>
          </tr>
        <tr>
            <th scope="row"><span class="badge bg-secondary">Address</span></th>
            <td>{{user.address}}</td>
          </tr>
        <tr>
            <th scope="row"><span class="badge bg-secondary">Phone</span></th>
            <td>{{user.phone}}</td>
          </tr>
        <tr>
            <th scope="row"><span class="badge bg-secondary">Website</span></th>
            <td>{{user.website}}</td>
          </tr>
        <tr>
            <th scope="row"><span class="badge bg-secondary">Company</span></th>
            <td>{{user.company}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

{% endblock %}